<div ng-include="'Views/MessageModal.html'"></div>
<script type="text/ng-template" id="addWordTranslationModal">
    <div class="modal-header bg-primary" align="center">
        <button class="close" ng-click="close()">x</button>
        <h3 class="modal-title">Add WordTranslations</h3>
    </div>
    <div class="modal-body text-center">
        <div class="row form-group" align="center">
            <div class="input-group width-half">
                <input type="text"
                       ng-model="selectedWordTranslation"
                       data-typeahead-min-length="2"
                       data-typeahead-wait-ms="400"
                       data-typeahead="wt as wt.OriginalWord + ' — ' + wt.TranslationWord for wt in searchWordTranslations($viewValue)"
                       class="form-control"
                       ng-virtual-keyboard='{"showKbSelect":true, "keyboardLocation":"under-right", "kt":"{{language.ShortName}}" }'
                       placeholder="Search WordTranslations">
                <span class="input-group-btn">
                    <button class="btn btn-default btn-block" ng-click="addWordTranslation()">
                        Add
                    </button>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-xs-12 col-md-6 col-lg-4" ng-repeat="wt in wordTranslationsToAdd">
                <div class="form-inline">
                    <div class="input-group">
                        <div class="input-group-addon left-block"><strong>{{wt.OriginalWord}} — {{wt.TranslationWord}}</strong></div>
                        <button class="input-group-addon" ng-click="removeWordTranslation($index)">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer" ng-show="wordTranslationsToAdd.length">
        <button class="btn btn-primary"
                ng-click="save()"
                ng-init="btnSaveName = 'Add WordTranslations'"
                ng-class="{'btn-danger': btnSaveName === 'Failed to add WordTranslations'}"
                ng-disabled="btnSaveName !== 'Add WordTranslations'">
            {{btnSaveName}}
        </button>
    </div>
</script>