<div class="container" ng-controller="ChangePasswordController">
    <div class="row">
        <div class="col-sm-12">
            <h1 class="text-center">Change Password</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <p class="text-center">Use the form below to change your password.</p>
            <form method="post" id="passwordForm">
                <input type="password" id="chpwdinput" class="input-lg form-control" name="password1" ng-model="passwordValue" placeholder="New Password" autocomplete="off">
                <input type="password" id="chpwdinput" class="input-lg form-control" name="password2" ng-model="repeatPasswordValue" placeholder="Repeat Password" autocomplete="off">
                <div class="form-group" align="center">
                    <label class="text-danger" ng-show="errorMessage.length">
                        {{errorMessage}}
                    </label>
                </div>
                <input type="submit" id="chpwdinput" class="col-xs-12 btn btn-primary btn-load btn-lg" ng-click="changePasswordClick()" value="Change Password">
            </form>
        </div><!--/col-sm-6-->
    </div><!--/row-->
</div>