<div class="container">
    <div class="row col-sm-12">
        <div class="text-center">
            <h3>Create Course</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4 ">
            <div ng-class="{'has-error': !isEnteredName}" ng-init="isEnteredName = true">
                <input type="text" class="form-control" placeholder="Name" ng-model="course.Name">
            </div>
            <br/>
            <div ng-class="{'has-error': !isEnteredLanguage}" ng-init="isEnteredLanguage = true">
                <select ng-options="language.Name for language in languages track by language.Id"
                        id="select" class="form-control"
                        ng-change="getWordSuitesForCurrentLanguage()"
                        ng-model="course.Language">
                    <option class="option-placeholder" value="" selected>Language</option>
                </select>
            </div>
            <br/>
            <div>
                <div class="bin text-center" ui-on-drop="onDrop($event,$data,course.WordSuites)" droppable ng-class="{'bin-has-error': !isSelectedWordSuites}" ng-init="isSelectedWordSuites = true">
                    {{course.Name}}
                    <div class="item form-control"
                         ui-draggable="true" drag="item"
                         ng-repeat="item in course.WordSuites"
                         on-drop-success="dropSuccessHandler($event,$index,course.WordSuites)">
                        {{item.Name}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Search" ng-model="searchName">
            <br/>
            <button class="btn btn-default nomargins" id="create-new-wordsuite" ng-click="saveCurrentState()">
                Create new word suite
            </button>
            <br/>
            <br/>
            <div class="bin text-center" ui-on-drop="onDrop($event,$data, wordSuites)">
                <div ng-show="wordSuites.length">Your word suites</div>
                <div ng-hide="wordSuites.length">No word suites</div>
                <div class="item form-control"
                     ng-repeat="item in wordSuites| filter:searchName"
                     ui-draggable="true" drag="item"
                     on-drop-success="dropSuccessHandler($event,$index, wordSuites)">
                    {{item.Name}}
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <footer class="text-center">
        <button class="btn btn-primary btn-lg"
                ng-click="saveCourse()"
                data-tooltip="Fill all required fields and select wordsuites"
                data-tooltip-enable="enableTooltip()">
            Create Course
        </button>
    </footer>
</div>
<script type="text/ng-template" id="Modal">
    <div class="modal-header bg-primary">
        <h3 class="modal-title">{{data.header}}</h3>
    </div>
    <div class="modal-body">
        {{data.message}}
    </div>
    <div class="modal-footer">
        <button ng-click="close()" class="btn btn-default">
            Ok
        </button>
    </div>
</script>