<div class="modal-header bg-primary" align="center">
    <button class="modal-title close" ng-click="cancel()">x</button>
    <h3 class="modal-title">Edit WordTranslation</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal" role="form">
        <div class="row">
            <div class="col-sm-11">
                <div class="form-group">
                    <label class="control-label col-sm-3">Word</label>
                    <div ng-if="languageIsOn" class="input-group">
                        <input class="form-control" ng-model='oldOriginalWord.OriginalWord' ng-readonly="isWordDisabled" required autofocus
                               ng-virtual-keyboard='{"showKbSelect":true, "keyboardLocation":"under-right", "kt":"{{originalLanguage.ShortName}}" }' />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="parts">Part Of Speech</label>
                    <div ng-if="languageIsOn" class="input-group">
                        <select id="parts" class="form-control" ng-model="oldOriginalWord.PartOfSpeechId" ng-options="opt.Id as opt.Name for opt in partsOfSpeech"></select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-3">Description</label>
                    <div ng-if="languageIsOn" class="input-group">
                        <input class="form-control" ng-model='oldOriginalWord.Description'
                               ng-virtual-keyboard='{"showKbSelect":true, "keyboardLocation":"under-right", "kt":"{{originalLanguage.ShortName}}" }' />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Transcription</label>
                    <div ng-if="languageIsOn" class="input-group">
                        <input class="form-control" ng-model='oldOriginalWord.Transcription'
                               ng-virtual-keyboard='{"showKbSelect":true, "keyboardLocation":"under-right", "kt":"{{originalLanguage.ShortName}}" }' />
                    </div>
                </div>
                <div class="form-group" align="center">
                    <label class="control-label col-sm-3">Picture</label>
                    <div ng-controller="PictureController">
                        <div style="margin-left: 13%" class="thumbnail col-sm-12 col-md-10" ng-show="isPicture">
                            <img src="{{pictureToShow}}" />
                            <input class="btn btn-danger" type="button" ng-click="deleteCurrentPicture()" value="Delete" />
                        </div>
                        <div ng-hide="isPicture">
                            <div ng-hide="isPictureSelected">
                                <div class="row">
                                    <br />
                                    <input type='file' accept="image/*" onchange="angular.element(this).scope().setFiles(this)" />
                                </div>
                                <div align="center" id="dropbox" style="width:80%; height:200px; background-color:azure; margin: auto; text-align: center; border: 2px solid #DDD;"><span>{{dropText}}</span></div>
                            </div>
                            <div align="center" ng-show="isPictureSelected">
                                <h4 class="col-sm-2">Preview:</h4>
                                <div style="margin-left: 13%" class="thumbnail col-sm-12 col-md-10">
                                    <img src="{{preview}}" />
                                    <div align="center" class="input-group-btn">
                                        <input class="btn btn-success" type="button" ng-click="uploadfile()" value="Upload" />
                                        <input class="btn btn-danger" type="button" ng-click="cancel()" value="Cancel" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Translation</label>
                    <div class="input-group">
                        <input class="form-control" ng-model="selectedTranslation"
                               data-typeahead="translation as translation.Value for translation in searchTranslations($viewValue)"
                               data-typeahead-no-results="not found"
                               data-typeahead-min-length="0"
                               data-typeahead-wait-ms="400"
                               ng-virtual-keyboard='{"showKbSelect":true, "keyboardLocation":"under-right", "kt":"{{translationLanguage.ShortName}}" }'
                               placeholder="Search translation" required autofocus />
                        <span class="input-group-btn">
                            <button class="btn btn-default no-margin-right" type="button" ng-click="editTran()">
                                <img src="http://thegreatcloset.com/wp-content/uploads/2015/04/add-to-cart-light.png">
                            </button>
                        </span>
                    </div>
                    </div>
                <div class="row" style="margin: -5px 0px 9px 0px" align="center">
                    <showwords data="oldOriginalWord.Translations" remove="deleteTranslationsToEdit(index)" withid="true">
                    </showwords>
                </div>
                
                    <div class="form-group">
                        <label class="control-label col-sm-3">Synonyms</label>
                        <div class="input-group">
                            <input class="form-control" ng-model="selectedSyn"
                                   data-typeahead="word as word.Value for word in searchWords($viewValue)"
                                   data-typeahead-no-results="not found"
                                   data-typeahead-min-length="0"
                                   data-typeahead-wait-ms="400"
                                   ng-virtual-keyboard='{"showKbSelect":true, "keyboardLocation":"under-right", "kt":"{{originalLanguage.ShortName}}" }'
                                   placeholder="Search Synonym" required autofocus />
                            <span class="input-group-btn">
                                <button class="btn btn-default no-margin-right" type="button" ng-click="editSyn()">
                                    <img src="http://thegreatcloset.com/wp-content/uploads/2015/04/add-to-cart-light.png">
                                </button>
                            </span>

                        </div>
                        </div>
                <div  class="row" style="margin:-5px auto 9px auto" align="center">
                    <showwords data="oldOriginalWord.Synonims" remove="deleteSynonymsToEdit(index)" withid="true">
                    </showwords>
                </div>
                
                    <div class="form-group">
                        <label class="control-label col-sm-3">Tags</label>
                        <div class="input-group">
                            <input class="form-control"
                                   ng-model='selectedTag'
                                   data-typeahead="tag as tag.Value for tag in searchTags($viewValue)"
                                   data-typeahead-no-results="not found"
                                   data-typeahead-min-length="0"
                                   data-typeahead-wait-ms="400"
                                   placeholder="Search Tag"
                                   ng-virtual-keyboard='{"showKbSelect":true, "keyboardLocation":"under-right", "kt":"{{originalLanguage.ShortName}}" }' required autofocus />
                            <span class="input-group-btn">
                                <button class="btn btn-default no-margin-right" type="button" ng-click="editTag()">
                                    <img src="http://thegreatcloset.com/wp-content/uploads/2015/04/add-to-cart-light.png">
                                </button>
                            </span>
                        </div>
                    </div>
                <div class="row" style="margin: -5px 0px 9px 0px" align="center">
                    <showwords data="oldOriginalWord.Tags" remove="deleteTagsToEdit(index)" withid="true">
                    </showwords>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="records">Pronunciation</label>
                    <div class="input-group" style="width: 75%">
                        <showrecords data="oldRecord" exists="thereAreRecords" remove="deleteRecordToEdit()"></showrecords>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3">Comment</label>
                    <div ng-if="languageIsOn" class="input-group">
                        <input class="form-control" ng-model='oldOriginalWord.Comment'
                               ng-virtual-keyboard='{"showKbSelect":true, "keyboardLocation":"under-right", "kt":"{{originalLanguage.ShortName}}" }' />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <span class="input-group-btn">
        <button class="btn btn-primary" ng-click="saveWord()">
            Update word
        </button>
    </span>
</div>
