<div id="forgotPasswordModal" role="dialog">
    <div align="center">
        <div class="modal-header bg-primary">
            <button class="close" type="button" ng-click="closeModal()">x</button>
            <h4 class="modal-title" id="myModalLabel">Reset Password</h4>
        </div>
        <div class="modal-body">
            <form role="form">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></div>
                        <input type="email" class="form-control" placeholder="E-mail" ng-model="emailValue">
                    </div>
                </div>
                <div class="form-group">
                    <label class="text-danger" ng-show="errorMessage.length">
                        {{errorMessage}}
                    </label>
                </div>
                <button name="submitButton" ng-click="passwordResetClick()" class="btn btn-block btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>