<div class="jumbotron" align="center">
    <img class="img-responsive" src="/Images/softserve.png" />
    <div class="text-primary">
        <p>
            <h2>
                <strong>World of Words</strong><br>
                <small>SoftServe Language School</small>
            </h2>
        </p>
    </div>
    <div class="alert-info">
        <p>
            Sign up and try the most comfortable way to learn new words with our language school.<br>
            Get access to different <em>courses</em>, watch your <em>progress</em> and take everyday <em>quizzes</em>.
        </p>
        <p>
            Improve your language skills and increase your word base at any convenient moment.
        </p>
        <p>
            Learn new language with <strong>World of Words</strong> - it's easy!
        </p>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <img class="img-responsive img-thumbnail" src="/Images/distance-learning2.jpg" />
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <img class="img-responsive img-thumbnail" src="/Images/distance-learning4.jpg" />
        </div>
    </div>
</div>

