<div class="container text-center">
    <br />
    <div class="row">
        <div class="col-sm-6">
            <h4 class="text-left">{{label}}</h4>
        </div>
        <div class="col-sm-6" ng-show="!isTimeOut">
            <h4 class="text-right"><b>{{time| milisecondToDateTime | date:'HH:mm:ss'}}</b></h4>
        </div>
    </div>
    <br />
    <div class="row">
        <div id="childArrowLeft" class="col-sm-1">
            <button class="btn btn-default"
                    id="left-arrow"
                    ng-click="currentPage = currentPage - 1"
                    ng-disabled="currentPage < 2"
                    ng-show="!isTimeOut || isChecked"></button>
        </div>
        <div id="parentQuiz" class="col-sm-10">
            <div class="" ng-repeat="synonym in filteredWords track by $index" on-finish-render="ngRepeatFinished">
                <div class="row form-group">
                    <h5 class="col-sm-3">{{synonym}}</h5>
                    <span class="col-sm-5">
                        <input class="form-control keyboardInput"
                               ng-disabled="isChecked"
                               type="text"
                               ng-class="{check: isChecked}"
                               ng-model="model.Answer[getCurrentIndex($index)]" />

                    </span>
                    <h5 class="col-sm-1">
                        <span ng-show="isSubmitSuccessful"
                              ng-class="{'glyphicon glyphicon-ok': model.Result[getCurrentIndex($index)],
                   'glyphicon glyphicon-remove': !model.Result[getCurrentIndex($index)]}">
                        </span>
                    </h5>
                </div>
            </div>
        </div>
        <div id="childArrowRight" class="col-sm-1">
            <button class="btn btn-default"
                    id="right-arrow"
                    ng-click="currentPage = currentPage + 1"
                    ng-disabled="currentPage >= (totalItems/itemsPerPage)"
                    ng-show="!isTimeOut || isChecked"></button>
        </div>
    </div>
    <div align="center" ng-show="itemsPerPage">
        <button ng-click="ConfirmSubmit();" class="btn btn-success" ng-hide="isChecked">Submit</button>
        <button ng-click="goToCourses()" class="btn btn-success" ng-show="isChecked">OK</button>
    </div>
</div>


<script type="text/ng-template" id="errorModal">
    <div class="modal-header bg-primary">
        <h3 class="modal-title">Something happened!</h3>
    </div>
    <div class="modal-body">
        {{data}}
    </div>
    <div class="modal-footer">
        <button ng-click="yes()" class="btn btn-default">
            Go to courses
        </button>
    </div>
</script>

<script type="text/ng-template" id="startQuiz">
    <div class="modal-header bg-primary">
        <h3 class="modal-title">Start Quiz!</h3>
    </div>
    <div class="modal-body">
        <div>Input all synonyms.</div>
        <div>You have {{data|TimeWithWords }}.</div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary btn-modal-confirm" ng-click="yes()">Start</button>
        <button class="btn btn-primary btn-modal-confirm" ng-click="no()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="Result">
    <div class="modal-header bg-primary">
        <h3 class="modal-title">Save result!</h3>
    </div>
    <div class="modal-body">
        <div>{{data}}</div>
    </div>
    <div class="modal-footer">
        <button ng-click="yes()" class="btn btn-default">
            OK
        </button>
    </div>
</script>

<script type="text/ng-template" id="Confirmation">
    <div class="modal-header bg-primary">
        <h3 class="modal-title">End Quiz!</h3>
    </div>
    <div class="modal-body">
        <div>Are you sure?</div>
    </div>
    <div class="modal-footer">
        <button ng-click="yes()" class="btn btn-default">Yes</button>
        <button ng-click="no()" class="btn btn-default">No</button>
    </div>
</script>