<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: 15%">
    <div>
        <div class="col-md-buffer"></div>
        <div class="col-lg-2 col-md-3 col-sm-6">
            <img class="center-block cursor-pointer" src="/Images/Icons-04.png" ng-click="replaseToWords()" />
            <div class="top-margin-28"></div>
            <p class="manager-font text-center force-font-size-20"><strong>Global Dictionary</strong></p>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6">
            <img class="center-block cursor-pointer" src="/Images/Icons-01.png" ng-click="replaseToWordSuites()" />
            <div class="top-margin-28"></div>
            <p class="manager-font text-center force-font-size-20"><strong>Word Suites</strong></p>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6">
            <img class="center-block cursor-pointer" src="/Images/Icons-02.png" ng-click="replaseToCourses()" />
            <div class="top-margin-28"></div>
            <p class="manager-font text-center force-font-size-20"><strong>Courses</strong></p>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6">
            <img class="center-block cursor-pointer" src="/Images/Icons-03.png" ng-click="replaseToGroups()" />
            <div class="top-margin-28"></div>
            <p class="manager-font text-center force-font-size-20"><strong>Groups</strong></p>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6">
            <img class="center-block cursor-pointer" src="/Images/Icons-05.png" ng-click="replaseToSubscriptionRequests()" />
            <div class="top-margin-28"></div>
            <p class="manager-font text-center force-font-size-20"><strong>Subscription requests</strong></p>
        </div>
    </div>
</div>