<div>
    <div align="center">
        <h1>You have no courses!</h1>
        <h3>Please call Your teacher or administrator.</h3>
        <br/><br/>
        <form class="form-horizontal" role="form">
            <div class="form-inline">
                <div class="form-group">
                    <label class="control-label col-sm-6">Number:</label>
                    <label class="control-label col-sm-6">0938599486</label>
                </div>
            </div>
            <div class="form-inline">
                <div class="form-group">
                    <label class="control-label col-sm-6">Email:</label>
                    <label class="control-label col-sm-6">WoWTeam@gmail.com</label>
                </div>
            </div>
        </form>
    </div>
</div>
