<div>
    <div align="center">
        <div class="modal-header bg-primary">
            <button class="close" type="button" ng-click="closeModal()">x</button>
            <h4 class="modal-title" style="color: white">You are not authorized!</h4>
        </div>
        <div class="modal-body">
            <form role="form">
                <h5 style="color: black">Please <b>Sign</b> <b>In</b> or <b>Sign</b> <b>Up</b>, if you have no account.</h5>
                <div class="col-sm-6">
                    <button id="loginUnauthorizeBtn" ng-click="loginButton()" class="btn btn-primary"><i class="glyphicon glyphicon-log-in"></i> Sign In</button>
                </div>
                <div class="col-sm-6">
                    <button id="registerUnauthorizeBtn" ng-click="registerButton()" class="btn btn-primary"><i class="glyphicon glyphicon-user"></i> Sign Up</button>
                </div>
                <div style="clear: both"></div>
        </form>
    </div>
    </div>
</div>